In [1]:
#Q1: Consider the following Python module:
#code provided
a = 0
def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2
print(b())
print(b())
print(b())
a
#Explanation:
#The variable 'a' will be initiated with Zero value.
#Step 1: 'a' is passed to c(), where 'a' = 2 now. a=0+2=2.
#Step 2: print(b()) prints this value of 'a'.
#Step 3: Next time, b= 2+2 =4 , hence print(b()) prints 4
#Step 4: b=4+2 = 6
#Step 5: print final value of 'a'.

2
4
6

6

In [31]:
#Q2: Filelength.txt
#importing 'os' library to access the file applicable functions.
import os
#try block to catch the error in input
try:
    print("Kindly enter the filename (from github repo or the correct path) to get the file length")
    #taking file name as string input
    file_name=input()
    if (file_name):
        #provided function
        def file_length(file_name):
            #opening filename while avoiding the codec error in decoding of the different types of files.
            #specifying encoding type for codec in case of utf-8 encoded file.
            file = open(file_name, encoding="utf8", errors="ignore")
            contents = file.read()
            file.close()
            print(len(contents))
    file_length(file_name)
except:
    #printing specified error in case of file not found.
    print("File",file_name," not found.")

Kindly enter the filename (from github repo or the correct path) to get the file length

 1302-Article Text-3370-1-10-20180119.pdf

780135

In [105]:
#Q3 Classes and Inheritance in OOPS.
#creating class called Marsupial and passing object to the class.
class Marsupial(object): 
    #initiating the list
    def __init__(self): 
         
        self.list1 = [] 
     #function to append pouch contents
    def put_in_pouch(self, x): 
         
        return self.list1.append(x) 
     #function to output the pouch contents
    def pouch_contents(self):
        
        string1='My pouch contains a {}.'.format(str(self.list1))+'\n'
 
        return print(string1)
     #function to output the object.
    def __str__(self):
 
        return  str(self.list1)
 
# Part2 - Inheritance class Kangaroo 
 
class Kangaroo(Marsupial): 
 
    def __init__(self, dx, dy): 
        Marsupial.__init__(self) 
        self.dx = dx
        self.dy = dy
         
 #function to perform co-ordinate jump
    def jump(self,dx,dy):
        self.dx+=dx
        self.dy+=dy
        return {self.dx,self.dy}
 
 #function to output the object 'k'
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.dx},{self.dy}).\n"

#using class Marsupials as described in question.
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

#using Kangaroo class as described
k = Kangaroo(0,0)
print(k)

#appending described values to list.
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

#to perform jump and output current co-ordinates.
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

My pouch contains a ['doll', 'firetruck', 'kitten'].

I am a Kangaroo located at coordinates (0,0).

My pouch contains a ['doll', 'firetruck', 'kitten'].

I am a Kangaroo located at coordinates (3,0).

In [11]:
#Q4:Recursive Functions 1
print("Kindly enter a number to find the Collatz sequence.")
n=int(input())
list1=[]
#the specified function takes input from user.
def printCollatz(n):
    while n>1:
        if n % 2 == 0:
            n=n//2
            list1.append(n)
            
        else:
            n=((3*n)+1)
            list1.append(n)
    return list1
print("The Collatz sequence starting with number : ", n)
printCollatz(n)
for x in list1:
    print(x)

Kindly enter a number to find the Collatz sequence.

 6

The Collatz sequence starting with number :  6
3
10
5
16
8
4
2
1

In [21]:
#Q5 binary to integer
print("Enter a number to convert to integer : ")
num=int(input())
print("The Binary value is: ")
def DecimalToBinary(num):
    if num==0:
        return 0
    if num >= 1:
        DecimalToBinary(num // 2) #recursion
        #print(num)
        num=num % 2
    print(num, end = '')
     
DecimalToBinary(num)

Enter a number to convert to integer :

 3

The Binary value is:
11

In [7]:
#Q6- Creating table_cities named database with table 'information' to perform SQL queries.
import sqlite3
connection = sqlite3.connect('table_info.db')
cursor = connection.cursor()
connection =  cursor.execute("CREATE TABLE information(CITY text, COUNTRY text, SEASON text, TEMPERATURE float, RAINFALL float)" )
rows = [('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]

In [8]:
#To insert value into table.
for row in rows:
    cursor.execute("INSERT INTO information VALUES(?,?,?,?,?)",(row[0],row[1],row[2],row[3],row[4]))

In [105]:
#Q6 - A
cursor.execute("SELECT TEMPERATURE FROM information")

myresult = cursor.fetchall()
for x in myresult:
    for y in x:
        print(y)

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [104]:
#Q6 - B
cursor.execute("SELECT DISTINCT CITY FROM information")

myresult = cursor.fetchall()
for x in myresult:
    for y in x:
        print(y)

Mumbai
London
Cairo

In [80]:
#Q6 - C
cursor.execute("SELECT * FROM information WHERE COUNTRY='India'")

myresult = cursor.fetchall()
for x in myresult:
    print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [81]:
#Q6 - D
cursor.execute("SELECT * FROM information WHERE SEASON='Fall'")

myresult = cursor.fetchall()
for x in myresult:
    print(x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [89]:
#Q6 - E
cursor.execute("SELECT CITY, COUNTRY, SEASON FROM information WHERE RAINFALL BETWEEN 200 AND 400")

myresult = cursor.fetchall()
for x in myresult:
    print(x)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [91]:
#Q6 - F
cursor.execute("SELECT CITY, COUNTRY FROM information WHERE SEASON='Fall' AND TEMPERATURE>20 ORDER BY TEMPERATURE")

myresult = cursor.fetchall()
for x in myresult:
    print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [103]:
#Q6 - G
cursor.execute("SELECT sum(RAINFALL) FROM information WHERE CITY='Cairo'")

myresult = cursor.fetchall()
for x in myresult:
    for y in x:
        print(y)

27.6

In [26]:
#Q6 - H
cursor.execute("SELECT SUM(RAINFALL), SEASON FROM information GROUP BY SEASON")

myresult = cursor.fetchall()
for x in myresult:
    print(x)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [62]:
#Q7 Operations on list.
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print(type(words))
Upper=[word.upper() for word in words]
print(Upper)
Lower=[word.lower() for word in words]
print(Lower)
Length=[len(word) for word in words]
print(Length)
MixedList = []
for word in words:
    Mixer=[word.upper(),word.lower(),len(word)]
    MixedList+=[Mixer]
print(MixedList)
MixerList2=[]
for word in words:
    if len(word)>3:
        MixerList2+=[word]
print(MixerList2)

<class 'list'>
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']